<!doctype html>
<html lang="en" ng-app>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Register Dc College" content="">
  <meta name="Edwin Odeh" content="">

  <title>Welcome to Dorset College Register</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/clean-blog.css">
  <link rel="stylesheet" href="/css/clean-blog.min.css">

  </head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html"> Dorset College Dublin </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sample Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome to Dorset College Register  </h1>
            <br></br>
            <span class="subheading"> Where Future leders are born </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
   
<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img/about-bg.jpg">
      <img src="img/about-bg.jpg" width="600" height="400">
    </a>
</div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img/Dp1.jpg">
      <img src="img/Dp1.jpg" width="600" height="400">
    </a>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img/student2.jpg">
      <img src="img/student2.jpg" width="600" height="400">
    </a>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img/student1.jpg">
      <img src="img/student1.jpg" width="600" height="400">
    </a>
  </div>
</div>

<div class="clearfix"></div>

<div style="padding:6px;">
  <p>This is Register been created for BSC 3 2019 final students.</p>
  <p>The Register will allow you to Add new student and also delete them from the Register for BCS3. <b> Note</b> XLM and XSL template was from the Lecture and modify to suit the purpose of this project.</p>
</div>

<style>
    body {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    table,
    th,
    td {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }
    table {
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: left;
    }
    th {
      font-weight: bold;
    }
    .selected {
      background-color:brown;
      color: #FFF;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
      function draw_table() {
        $("#results").empty();
        $.getJSONUncached = function(url) {
          return $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            success: function(html) {
            $("#results").append(html);
            select_row();
            }
          });
        };
        $.getJSONUncached("/get/html")
      }
    
      function select_row() {
        $("#table tbody tr").click(function() {
          $(".selected").removeClass("selected");
          $(this).addClass("selected");
          var $row = $(this).attr("id");
          delete_row($row);
        })
      };
    
      function delete_row(row_val) {
        $("#delete").click(function() {
          $.ajax({
            url: "/post/delete",
            type: "POST",
            data: {
              row: row_val
            },
            cache: false,
            success: setTimeout(draw_table,2000)
          })
        })
      }
    
    $(document).ready(function() {
      draw_table();
    });
  </script>


 <div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="page-header">
      <h1>BSC3 Dorset College Register</h1>
    </div>
    <div class="row">
      <div id="results" class="span8">
      </div>
      <div class="span4">
        <ul class="nav nav-list well">
          <li>
            <form enctype='application/json' action="/post/json" method="post">
              <div class="field">
                <input type="text" name="Age_student" placeholder="Age Student">
              </div>
              <div class="field">
                <input type="text" name="region_location" placeholder="Region">
              </div>
              <div class="field">
                <input type="text" name="Name" placeholder="Name">
              </div>
              <div class="field">
                <input type="text" name="Department" placeholder="Department">
              </div>
              <div class="field">
                <input type="text" name="Phone_Number" placeholder="Phone Number">
              </div>
              <div class="field">
                <button type="submit">Submit</button>
              </div>
            </form>
                <button id="delete">Delete</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; 18605 - Edwin Odeh 2019 @</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
